.username {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid gray;
  border-radius: 5px;
  width: 250px;
  margin: 10px;
  padding: 10px;
}

.username img {
  border-radius: 5px;
}

.username p {
  margin-top: 10px;
  color: #424242;
}

.username p span {
  font-weight: bold;
}
